.talBrText {
  margin: 0;
  flex: 0 1 auto;
  font-size: 80px;
  z-index: 100;
  position: relative;
  @media screen and (orientation: landscape) and (min-device-height: 480px) {
    font-size: 118px;
  }
}

.socials {
  position: absolute;
  right: 0;
  top: -10px;
  letter-spacing: 0.25em;
  font-size: 26px;
  @media screen and (orientation: landscape) and (min-device-height: 480px) {
    font-size: 38px;
    top: -18px;
  }
  & i {
    transition: all .3s ease-in-out;
    &:hover {
      transform: translate(0, -5px);
      color: #222222;
    }
  }
}

.subText {
  margin: 0;
  font-size: 36px;
  z-index: 100;
  @media screen and (orientation: landscape) and (min-device-height: 480px) {
    font-size: 44px;
  }
}

.slideAnimation {
  animation-duration: 1s;
  animation-name: slidethr;
  animation-direction: reverse;
}

@keyframes slidethr {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  55% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.container {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  height: 100vh;
  color: #333333;
  justify-content: center;
  user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
}

.bgPic {
  position: absolute;
  max-height: 100%;
  max-width: 90%;
  opacity: 0.7;
  z-index: 10;
}

.picSlideAnimation {
  animation-duration: 1s;
  animation-name: slidepics;
  //animation-direction: reverse;
}

@keyframes slidepics {
  0% {
    opacity: 0.7;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  55% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  90% {
    opacity: 0.7;
    transform: translate(0, 0);
  }
}

@media screen and (orientation: landscape) {
  .develop {
    bottom: -10%;
    left: 50px;
    height: 50%;
    @media (min-device-height: 480px) {
      height: 60%;
      bottom: 5%;
    }
  }

  .sense {
    bottom: -30%;
    left: 15%;
    height: 100%;
    @media (min-device-height: 480px) {
      height: 88%;
      bottom: 5%;
      left: 10%;
    }
  }

  .talks {
    top: 6%;
    height: 68%;
    right: 2%;
    @media (min-device-height: 480px) {
      height: 70%;
      top: 5%;
      right: 5%;
    }
  }

  .beard {
    top: 0;
    left: 30px;
    height: 75%;
    @media (min-device-height: 480px) {
      height: 75%;
      left: 50px;
    }
  }
}

